<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings></connectionStrings>
	<connectionStrings>
		<add name ="USUARIO"
			connectionString="Database=USUARIO;Server=DESKTOP-OR2F9BV\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>